<!--
  ~     SPDX-License-Identifier: CC0-1.0
  ~
  ~     Copyright 2020 Will Sargent.
  ~
  ~     Licensed under the CC0 Public Domain Dedication;
  ~     You may obtain a copy of the License at
  ~
  ~         http://creativecommons.org/publicdomain/zero/1.0/
  ~
  -->

<configuration>
    <include resource="initial.xml"/>
    <include resource="exceptions.xml"/>

    <include resource="console-appender.xml"/>
    <include resource="jsonfile-appender.xml"/>
    <include resource="textfile-appender.xml"/>
    <include resource="honeycomb-appender.xml"/>
    <include resource="blacklite-appender.xml"/>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>TRACER_FILTER</Name>
        <Marker>TRACER</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    <logger name="request" level="DEBUG" />

    <root>
        <appender class="com.tersesystems.logback.uniqueid.UniqueIdComponentAppender">
            <appender class="com.tersesystems.logback.classic.NanoTimeComponentAppender">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="TEXTFILE"/>
                <appender-ref ref="JSONFILE"/>
                <appender-ref ref="HONEYCOMB"/>
                <appender-ref ref="BLACKLITE"/>
            </appender>
        </appender>
    </root>

    <include resource="ending.xml"/>
</configuration>