<configuration>
    <include resource="initial.xml"/>
    <include resource="exceptions.xml"/>

    <include resource="console-appender.xml"/>
    <include resource="jsonfile-appender.xml"/>
    <include resource="textfile-appender.xml"/>
    <include resource="honeycomb-appender.xml"/>

    <logger name="request" level="DEBUG" />

    <root>
        <appender class="com.tersesystems.logback.uniqueid.UniqueIdComponentAppender">
            <appender class="com.tersesystems.logback.classic.NanoTimeComponentAppender">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="TEXTFILE"/>
                <appender-ref ref="JSONFILE"/>
                <appender-ref ref="HONEYCOMB"/>
            </appender>
        </appender>
    </root>

    <include resource="ending.xml"/>
</configuration>